<h3> Welcome, {{user.firstName}} {{user.lastName}}</h3>
<mat-list>
  <mat-divider></mat-divider>
  <mat-list-item>Username: {{user.login}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Last Name: {{user.firstName}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>First Name: {{user.lastName}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Adress: {{user.address}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Your User Id: {{user.id}}</mat-list-item>
  <mat-divider></mat-divider>
</mat-list>