<mat-card class="movieCard">
  <div *ngFor="let m of movie">
    <mat-card-header>
      <div mat-card-avatar class="avatar"></div>
      <mat-card-title>{{m.movieName}}</mat-card-title>
      <mat-card-subtitle>{{m.genre}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://angular.io/assets/images/logos/angular/angular.svg"> <!-- example image-->
    <mat-card-content>
      <p>{{m.content}}</p>
    </mat-card-content>
    <mat-card-footer style="float:left">
      <p>Length: {{m.length}}min</p>
      <p>User Rating: {{m.rating}}</p>
      <p>Language: {{m.languageDub}}</p>
      <p>Subtitles: {{m.languageSub}}</p>
      <p>FSK: {{m.fsk}}</p>
      <p>{{m.price}}</p>
    </mat-card-footer>
  </div>
</mat-card>
  
<!--   
  movieName: string; -----------------------
  genre: string; ------------------------
  length: number;
  isSeries: boolean;
  rating: number;
  price: number;
  languageDub: string;
  languageSub: string;
  release: string;
  fsk: number;
  content: string; --------------------------------
} -->